language: python

python:
  - "3.6"
  - "2.7"

install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a
  # https://conda.io/docs/user-guide/tasks/use-conda-with-travis-ci.html
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
  - conda install --file conda-requirements.txt --yes
  - source activate test-environment
  - pip install -r requirements.txt

script:
  - source activate test-environment
  - nosetests tests/test.py

deploy:
  provider: heroku
  app: rocky-beyond-26963
  api_key:
    secure: UaTzddSLQDH0zlLF+Mm1g4wgA1ADtLU+h/65ENcDH2dQ3qnP5NkVz4RHp2VQQvxinwBCZImFx+OuXCklXyuC0vyH/jFsvILqA7/LG0HWHGtFfTFM7mMMW9tVkWOQXNnOCGvdUXSZp3gpNkkpceXN5pM9orEelq503pxy9+bNzhqmz7CVjzY9gPGrVDTDLc+i6bEdVPPA8qZHtxLB4ZP8oojynmmL2nIZ0h3RtWRLJReMeWYMVuxi2XVRhJ+L7G668bpx1tpqdWQByv/DlJw1FI+6cTnBX/CWKDLQOocJ0M8c9G4gg0z6ki1nXFZum+iwpe9BkmhvvJ9r1zLwJakYSvATR+oMsrD9HgEWzXb/B2lJIJ6CFl4asqDxCM4poHX5tuGR5GEx8371id/hAokQjBsQA2sxVkiXBVneCJ/3h/Q5VadWiNAEW/+kP2jvIGtG7G9/Zj70T9llgFXPSZ8+KgdYceSeFyGyYwFuEBSI5U9edr74parOxH8MKV4dNXhCWQpkJUsG9ECTjxSE/YnuvmQ4ngACQVv5IQ4UocSefAL6YL9caRVvRIXh8vw7qqHG8VcVRXv3Y4C9stjKRcbDlABsTIkyVy02lwmlhzVhChXeRq6eUzeBL2i4YSPmyyY+jpDQt9hu4EKeVuitk4zwMaKAx2dsEpggBdQzYlZsngs=
