<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Stock Ticker</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.{{ bokeh }}.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.{{ bokeh }}.min.css"
        rel="stylesheet" type="text/css">
    <link
        href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.{{ bokeh }}.min.css"
        rel="stylesheet" type="text/css">

</head>
  <body>
    <H1>Stock Predictions for TDI Group Project</H1>

     <ul class="menu">
            <li><a href="/about">About</a></li>
    </ul>

    <p>Input the ticker symbol for the stock you would like to see predictions for </p>

    <form id='input' method='post' action='/plotpage' >
        <p>Ticker symbol: <input type='text' name='ticker' /></p>

        <input type='submit' value='Submit' /> 

    </form>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</body>
</html>