{% extends "base.html" %}

{% block head %}
{{ super() }}

  <script>
    stockTicker.tickerQueryUrl = "{{ url_for('handle_ticker') }}";
    $(function() {
      stockTicker.processTickers({{initial_tickers | safe}})
    });
  </script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12 text-left">

    <p>Tickers: <input type="text" id="tickers" /></p>
    <p><input type="button" id="search" value="View" /></p>

    <div id=results>
    </div>

  </div>
</div>
{%- endblock %} 





    


